candidate-profile-edit-page{
    hr {
    background: color($colors, secondary, base) no-repeat scroll left !important;
    margin-left: 0;
    width: 100%;
    height: .3em;
}

ion-label{
    color: color($colors, secondary, base) !important;
    // font-weight: bold;
}
}