<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
      <ion-title>
        Perfil
      </ion-title>
      <ion-buttons end> 
        <button ion-button (click)="editCandidate()">
          <ion-icon name="create" end></ion-icon>
        </button>        
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <article>
    <ion-row>
      <ion-col>
        <header>
          <h1 class="profile-name">{{profile.nome}}</h1>
          <div class="profile-infos">
            <h3 class="profile-age">Idade: {{profile.idade}} anos,Cidade: {{profile.cidade}} / {{profile.estado}}</h3>
            <h4 class="profile-area">Área de atuação: {{profile.area}} / {{profile.subarea}}</h4>
            <h4>
              <ion-badge *ngFor="let tag of profile.tags">
                {{tag}}
              </ion-badge>
            </h4>
          </div>
        </header>
        <content>
          <h6 class="profile-infos"> <span style="font-weight: bold;">Status:</span>
            <ion-badge color="{{getColorByStatus(profile.status)}}" >{{getStatusfromEnum(profile.status)}}</ion-badge>
          </h6>
          <h6 class="profile-tel profile-infos" *ngIf="profile.telefone">
            <ion-icon name="call"></ion-icon>: {{profile.telefone}}</h6>
          <h6 class="profile-tel profile-infos" *ngIf="profile.email">
            <ion-icon name="mail"></ion-icon>: <a href="mailto:{{profile.email}}">{{profile.email}}</a> </h6>
          <h6 class="profile-linkedin profile-infos" *ngIf="profile.linkedin">
            <ion-icon name="logo-linkedin"></ion-icon>: <a href="{{profile.linkedin}}">{{profile.linkedin}}</a> </h6>
          <h6 class="profile-github profile-infos" *ngIf="profile.github">
            <ion-icon name="logo-github"></ion-icon>: <a href="{{profile.github}}">{{profile.github}}</a> </h6>
          <h6 class="profile-infos" style="font-weight: bold;">Comentários: </h6>
          <ion-list>
            <ion-item *ngFor="let comment of  profile.obs">"{{comment}}"</ion-item>
          </ion-list>
        </content>
      </ion-col>
      <ion-col>
        <h4 style="text-align:center;">Atualização de Status</h4>
        <hr/>
        <ion-row>
          <ion-textarea placeholder="Enter a description" [(ngModel)]="profile.newObs"></ion-textarea>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label>Status</ion-label>
            <ion-select [(ngModel)]="profile.status">
              <ion-option value="0">Novo</ion-option>
              <ion-option value="1">Pendente</ion-option>
              <ion-option value="2">Em processo</ion-option>
              <ion-option value="3">Contratado</ion-option>
              <ion-option value="4">Eliminado</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <button ion-button block primary (click)="updateStatus(profile)">Atualizar estado</button>
        </ion-row>
        <hr/>
      </ion-col>
    </ion-row>
  </article>
</ion-content>
